h1 {
    color:black;
    font-size: 40px;
    text-align: center;
}


.第一 {
    color:aqua;
    line-height: 2;
    font-family: 'Gill Sans';
    

}

.第二 {
    color: aquamarine;
    font-weight: 400;
    font-style: italic;
   
    text-align: center;
}


p {
    text-align: center;
    

}

.第二:hover{
    color: red;
    font-family: 'Courier New', Courier, monospace;
}