<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人简介</title>
</head>
<link rel="stylesheet" href="my.css">
<body>
    <textarea></textarea>

    <ul>
        <li>ruly language 单义字</li>
        <li>ruly ad 真正地</li>
        <li>ruly by law 法治社会</li>
    </ul>


    <ol>
        <li>ruly language 单义字</li>
        <li>ruly ad 真正地</li>
        <li>ruly by law 法治社会</li>
    </ol>

    <dl>
        <dt>服务中心</dt>
            <dd>申请售后</dd>
        <dt>中心</dt>
            <dd>申请售后</dd>


    </dl>

    <form action="" method="post">
            <table border="1">
                <tr>
                    <th>姓名</th>
                    <td><input type="text" name="姓名"></td>
                </tr>
                <tr>
                    <th>邮箱</th>
                    <td><input type="text" name="邮箱" value="邮箱"></td>
                </tr>
                <tr>
                    <th>性别</th>
                    <td><input type="text" name="性别"></td>
                </tr>
                <tr>
                    <th>性别</th>
                    <td><label><input type="" name="提交">提交</label></td>
                </tr>
            </table>
        </form>
        
        <audio src="./陈雨泽 - 爱的故事上集-dj完整版.mp3" controls></audio>
        <select>
            <option value ="volvo">Volvo</option>
        </select>
        <h1>4月23日，外交部发言人郭嘉昆主持例行记者会</h1>
        <div>
            <div><p class="第一">有记者提问，据报道，美国总统<B>特朗普</B>对记者称，我们与<a href="https://baike.baidu.com/link?url=_lkfDFKkgU4kGwbKaZvxr1G_5ZYQWuSjJKBF0FN2DrMHVA6QQdHeyuXS7gcnthWHPz-toaAMuO80bap-osj7eB-SHnofxRVnFM1sV60_Es9---_vpFFcK1g2dzzUToVThMr2gZn_SlEW7LmhAhSQga" target="_blank">中国</a>相处得不错，同中方谈判时不会采取强硬态度。对华145%关税确实很高，协议达成后美对华关税将大幅下降，但不会降至零。中方必须同美达成协议，否则无法同美做生意。若不同美达成协议，就按美方说的办，美才是定规矩的一方。美财长贝森特表示，当前局势本质上是贸易禁运。美国目标并非与中国脱钩，两国可能在两到三年内达成一项全面协议。与中国就此类协议的谈判尚未开始。中方对此有何评论？</p><br></div>

            <div>
                <P class="第一 第二">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;郭嘉昆&gt;表示，“中方早就指出，关税战、贸易战没有赢家，保护主义没有出路，脱钩断链只会孤立自己。对于美国发动的关税战，中方的态度很明确：我们不愿打，也不怕打。打，奉陪到底；谈，大门敞开。”</P><br>
            </div>
        </div>
        <P>郭嘉昆强调，如果美方真的想通过对话谈判解决问题，就应该停止威胁讹诈，在平等、尊重、互惠的基础上同中方对话。一边说要同中方达成协议，一边不断搞极限施压，这不是同中方打交道的正确方式，也是行不通的。</P>
        <img src="./Snipaste_2025-03-27_09-40-44.png" alt="底部">
        <hr>
        <br>

    


</body>
</html>